<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WebScada.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation targetFramework="4.0" />
    <httpRuntime />
  </system.web>
  <applicationSettings>
    <WebScada.Properties.Settings>
      <setting name="ioserveruser" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="ioserverpassword" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="ioserverhost" serializeAs="String">
        <value>192.168.0.133</value>
      </setting>
      <setting name="ioserverport" serializeAs="String">
        <value>8020</value>
      </setting>
      <setting name="CommunctionPort" serializeAs="String">
        <value>125</value>
      </setting>
      <setting name="Login" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultUserName" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="ReadOnly" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartScada" serializeAs="String">
        <value>True</value>
      </setting>
    </WebScada.Properties.Settings>
  </applicationSettings>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <staticContent>
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
        </staticContent>
    </system.webServer>
</configuration>